<div class="bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Admin Dashboard</h3>
    <div class="mt-2 max-w-xl text-sm text-gray-500">
      <p>Welcome back, <%= current_admin.email %>. Use the navigation above to manage organizations and other administrative tasks.</p>
    </div>
    <div class="mt-5">
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-brand-accent focus-within:ring-offset-2 hover:border-gray-400">
          <div class="flex-shrink-0">
            <svg class="h-10 w-10 text-brand-accent" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h18M12 18.75h.75m-.75 3h.75m3-3h.75m-.75 3h.75m-9-15h.75m-.75 3h.75m-.75 3h.75" />
            </svg>
          </div>
          <div class="min-w-0 flex-1">
            <%= link_to organizations_path, class: "focus:outline-none" do %>
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">Organizations</p>
              <p class="truncate text-sm text-gray-500">Manage all restaurant organizations.</p>
            <% end %>
          </div>
        </div>

        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-brand-accent focus-within:ring-offset-2 hover:border-gray-400">
          <div class="flex-shrink-0">
            <svg class="h-10 w-10 text-brand-accent" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </div>
          <div class="min-w-0 flex-1">
            <%= link_to new_organization_path, class: "focus:outline-none" do %>
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">Add Organization</p>
              <p class="truncate text-sm text-gray-500">Create a new organization and contact.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
