<h1>Editing Organization</h1>

<%= render "form", organization: @organization, contact: @contact %>

<br>

<div>
  <%= link_to "Show this organization", @organization %> |
  <%= link_to "Back to organizations", organizations_path %>
</div>
